# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
build/

# Private Keys & Environment
.env
.env.local
.env.production
serviceAccount.json

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
